@model MicropostMVC.Models.UserModel

@{
    ViewBag.Title = "Sign in";
}

<h2>Sign in</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset class="round">
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password, "password")
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <p>
            <input type="submit" id="SignIn" value="Sign in"/>
        </p>
        
        <p>
            New user? @Html.ActionLink("Sign up now!", "SignUp", "Users")
        </p>
    </fieldset>
}