<img src="@Url.Content("~/Content/images/logo.png")" alt="Microposts .NET MVC" class="round"/>
<nav class="round">
    <ul>
        @if (User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Home", "Index", "Microposts")</li>
            <li>@Html.ActionLink("Help", "Help", "Pages")</li>
            <li>@Html.ActionLink("Users", "Index", "Users")</li>
            <li>@Html.ActionLink("Sign out", "SignOut", "Sessions")</li>
        }
        else
        {
            <li>@Html.ActionLink("Home", "Home", "Pages")</li>
            <li>@Html.ActionLink("Help", "Help", "Pages")</li>
            <li>@Html.ActionLink("Sign in", "SignIn", "Sessions")</li>
        }
    </ul>
</nav>
      
